# Salin file ini menjadi .env dan isi nilainya

# Lokal development
VITE_API_URL=http://localhost:5000

# Production (isi dengan URL Railway setelah deploy)
# VITE_API_URL=https://caas-o2-backend.up.railway.app
