# Salin file ini menjadi .env dan isi nilainya

PORT=5000

# Dari Supabase: Project Settings -> Database -> Connection string -> URI
DATABASE_URL=postgresql://postgres:PASSWORD@db.PROJECTID.supabase.co:5432/postgres

# Buat string acak panjang: buka terminal ketik -> node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=GANTI_DENGAN_STRING_ACAK_64_KARAKTER

# Kamailio server (isi saat sudah siap)
KAMAILIO_HOST=192.168.1.100
KAMAILIO_PORT=5060

# URL frontend Vercel (isi setelah deploy Vercel)
FRONTEND_URL=http://localhost:3000

# true = testing tanpa Kamailio | false = production dengan Kamailio
MOCK_MODE=true
